/* Navbar */

.dropdown-content{
  top: 65px!important;
}

.dropdown-trigger{
  margin-right: 65px;
}

nav{
  background-color: rgba(0, 0, 0, 0)!important;
  box-shadow: none;
}

.brand-logo{
  padding-left: 50px !important;
}

/* End navbar */


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: aqua;
  background-image: url("../images/seaimg.jpg");
  background-position: center;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

.hide{
  color: white!important;
}

.color {
  background: linear-gradient(92deg, #95d7e3, #eb76ff);
  background: -webkit-linear-gradient(92deg, #95d7e3, #eb76ff);
  background-size: 600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 5s linear infinite alternate;
}

/* Sign up page */

.signupimage{
  background-image: url("/public/images/signupimage2.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  color: white;
  color: rgb(230, 3, 79);

}

.sign-up-btn{
  background-color: rgb(230, 3, 79);
}

.colorful-link{
  color: rgb(230, 3, 79);
  text-emphasis: bold;
  font-size: 24px;
  text-transform: uppercase;
}

/* End Sign up */


/* Login */

.loginimage{
  background-image: url("/public/images/login.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  color: white;
  color: rgb(230, 3, 79);

}

.here-color{
  color: rgb(230, 3, 79);
}

/* End Login */

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
  }
}
